//sass --watch scss/custom.scss css/custom.css

$utilities: (
  "margin-x": (
    property: margin-left margin-right,
    class: mx,
    values: (
      6: 4rem,
      7: 5rem
    )
  ),
  "padding-x": (
    property: padding-left padding-right,
    class: px,
    values: (
      6: 4rem,
      7: 5rem
    )
  ),
  "column-gap": (
    property: column-gap,
    class: column-gap,
    values: (
      6: 4rem,
      7: 5rem
    )
  ),
  "shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      strong: 0 1rem 3rem rgba(150, 150, 150, 0.15),
    )
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

input[type="search"] {
  &::placeholder {
    color: #6c757d;
    opacity: 1;
  }
}

.bg-secondary-transparent {
  background-color: rgba(var(--bs-secondary-rgb), 0.8);
  backdrop-filter: blur(6px);
}

.navLink {
    text-decoration: none;
}

.bg-blue {
    background-color: #464D77;
}

.bg-teal {
    background-color: #36827F;
}

.bg-gold {
    background-color: #F9DB6D;
}

.bg-snow {
    background-color: #F4EDED;
}

.bg-brown {
    background-color: #877666;
}

.form-control.bg-teal::placeholder {
  color: #ffffff !important;
}

.form-control.bg-teal {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important; /* fixes typed text */
}

.form-control.bg-teal:focus {
  background-color: #008080 !important; /* your teal */
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
}

.form-control.bg-teal:-webkit-autofill,
.form-control.bg-teal:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #008080 inset !important; /* force background */
  -webkit-text-fill-color: #fff !important; /* force white text */
}

#skills li:nth-child(n+10) {
  display: none;
}

.btn-close {
  filter: invert(1);
}

html {
  overflow-y: scroll;
}
