//sass --watch scss/custom.scss css/custom.css

$utilities: (
  "margin-x": (
    property: margin-left margin-right,
    class: mx,
    values: (
      0: 0,
      1: .25rem,
      2: .5rem,
      3: 1rem,
      4: 1.5rem,
      5: 3rem,
      6: 4rem,
      7: 5rem
    )
  ),
  "padding-x": (
    property: padding-left padding-right,
    class: px,
    values: (
      0: 0,
      1: .25rem,
      2: .5rem,
      3: 1rem,
      4: 1.5rem,
      5: 3rem,
      6: 4rem,
      7: 5rem
    )
  ),
  "column-gap": (
    property: column-gap,
    class: column-gap,
    values: (
      0: 0,
      1: .25rem,
      2: .5rem,
      3: 1rem,
      4: 1.5rem,
      5: 3rem,
      6: 4rem,
      7: 5rem
    )
  ),
  "shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      strong: 0 1rem 3rem rgba(150, 150, 150, 0.15),
    )
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

.form-control::placeholder,
.form-floating label {
  color: rgba(#6c757d, 1.0);
}

#skills li:nth-child(n+10) {
  display: none;
}

html {
  overflow-y: scroll;
}

.w-8 {
  width: 8%;
}

// https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa

.bg-charcoalnavy {
  background-color: #1B262C;
}

.bg-deepblue {
  background-color: #0F4C75;
}

.bg-mediumblue {
  background-color: #3282B8;
}

.bg-paleblue {
  background-color: #BBE1FA;
}

.border-paleblue {
  border-color: #BBE1FA;
}